body{
    background: url(../assets/image/cool.jpg) no-repeat;
    background-size: cover;
}

.title{
    background: rgb(14, 142, 228);
    margin: auto 20px;
    color: white;
    display: flex;
}

.title ul{
    list-style: none;
}

.title a{
    text-decoration: none;
    color: white;
}