@import "~ionicons/dist/css/ionicons.min.css";
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(197, 226, 232);
    background-size: cover;
}

.main-container{
    /* border-radius: 50px; */
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-container .message{
    height: 100%;
    width: 100%;
    background: rgb(40, 188, 247);
    display: flex; 
    flex-direction: column;
    place-items: center;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
}

.main-container .message .image{
    background: white;
    border-radius: 30px;
    width: 80px;

}

.main-container .message .image img{
    height: 60px;
    width: 50px;
    padding: 10px;
}

.main-container .message h1{
    color: white;
    align-self: center;
}

.main-container .message p{
    color: white;
    align-self: center;
    text-align: center;
    padding: 10px;
}

.main-container .container{
    border: 2px solid rgb(40, 188, 247);
    justify-content: center;
    background: white;
    border-top-right-radius: 50px;
}

.main-container .container form h1{
    color: rgb(40, 188, 247);
    margin-left: 38%;
}

.main-container .container form input{
    width: 90%;
    margin-top: 70px;
    margin: 10px;
    height: 30px;
    color: solid rgb(40, 188, 247);
    border: none;
    border-bottom: 2px solid rgb(40, 188, 247);
}

.main-container .container form input::placeholder{
    color: rgb(40, 188, 247);
    font-weight: bold;
}

.main-container .container form .icons{
    color: rgb(40, 188, 247);
    position: relative;
    margin-left: -40px;
}

.main-container .container form select{
    border: none;
    width: 90%;
    margin-top: 70px;
    margin: 10px;
    height: 30px;
    border-bottom: 2px solid rgb(40, 188, 247);
    color: rgb(40, 188, 247);
    font-weight: bold;
}

.main-container .container form .profile{
    width: 50%;
}

.main-container .container form label[for="profile"]{
    color: rgb(40, 188, 247);
    margin: 10px;
    font-weight: bold;
}

.main-container .container form .register{
    background: rgb(40, 188, 247);
    height: 50px;
    color: white;
    font-weight: 500;
    font-size: larger;
    border-radius: 20px;
    cursor: pointer;
    transition: .7s;
}

.main-container .container form .register:hover{
    background: white;
    color: rgb(40, 188, 247);
    border: 2px solid rgb(40, 188, 247);
}

.main-container .container form p{
    margin: 10px;
}

.main-container .container form p a{
    text-decoration: none;
    color: rgb(40, 188, 247);
    position: relative;
}

.main-container .container form p a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(40, 188, 247);
    position: absolute;
    bottom: 1px;
    left: 50%; /* Start from the middle */
    transform: translateX(-50%);
    transition: width 0.3s, left 0.3s;
}

.main-container .container form p a::after:hover{
    width: 100%;
    left: 0;
}