@import "~ionicons/dist/css/ionicons.min.css";
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body{
    display: flex;
}

.menu{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 85px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s linear;
    color: white;
    font-size: 20px;
    background: rgb(40, 188, 247);
}

.menu:hover{
    width: 300px;
    transition: 0.5s;
    font-size: 45px;
}

.menu h2{
    font-weight: 900;
}

.menu ul{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu ul li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu ul li:hover{
    background: rgb(162, 221, 244);
}

.menu ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu ul li a span{
    overflow: hidden;
}

.menu ul li a i{
    font-size: 1.2rem;
}

.menu ul .signout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main-container{
    position: relative;
    background: rgb(234, 226, 226);
    width: 100%;
    padding: 1rem;
}
.main-container .pic{
    background: url(image/images.jpeg) no-repeat;
    background-size: contain;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

/* .main-container .pic img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
} */